<a href="#main-content" class="skip-to-main-link"
  >{{lang 'header.skip_to_main'}}</a
>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
  {{#each (limit banners.top_metadata 1)}}
  <div
    class="banner"
    data-event-type="promotion"
    data-entity-id="{{this.id}}"
    data-name="{{this.banner-name}}"
    data-position="{{this.location}}"
    data-banner-id="{{this.banner-name}}"
  >
    <div data-event-type="promotion-click">{{{this.content}}}</div>
  </div>
  {{/each}}
</div>
{{/if}}
<div class="container">
  <header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
      <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    <!-- <a href="" class="mobile-second">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21"
      height="21"
      viewBox="0 0 21 21"
      fill="none"
    >
      <g clip-path="url(#clip0_1_1560)">
        <path
          d="M1.56775 7.69271H19.4323M5.76439 3.09896V1.05729M15.2071 3.09896V1.05729M15.8594 3.09896H5.14067C4.19307 3.09896 3.28428 3.47539 2.61423 4.14544C1.94418 4.81549 1.56775 5.72428 1.56775 6.67187V16.3698C1.56775 17.3174 1.94418 18.2262 2.61423 18.8962C3.28428 19.5663 4.19307 19.9427 5.14067 19.9427H15.8594C16.807 19.9427 17.7158 19.5663 18.3858 18.8962C19.0559 18.2262 19.4323 17.3174 19.4323 16.3698V6.67187C19.4323 5.72428 19.0559 4.81549 18.3858 4.14544C17.7158 3.47539 16.807 3.09896 15.8594 3.09896Z"
          stroke="#0A0A1E"
          stroke-width="1.2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_1_1560">
          <rect width="21" height="21" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </a> -->

    {{#if page_type '===' 'default'}}
    <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
      {{> components/common/store-logo}}
    </h1>
    {{else}}
    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
      {{> components/common/store-logo}}
    </div>
    {{/if}}
    <div class="navPages-container" id="menu" data-menu>
      {{> components/common/navigation-menu}}
    </div>

    {{> components/common/navigation}} {{{region
    name="header_navigation_bottom--global"}}}
  </header>
</div>

{{{region name="header_bottom--global"}}} {{{region name="header_bottom"}}}

<style>
  @media (min-width: 801px) {
    .header {
      justify-content: space-between;
    }
  }
  .mobile-second {
    display: none;
  }
  @media (max-width: 801px) {
    .mobile-second {
      display: block;
    }
  }
</style>
