{{~inject 'slides' carousel.slides}}
<section class="hero-section container">
  <div class="left-container">
    <div class="hero-carousel-slides">
      {{#each carousel.slides}}
      <div class="hero-carousel-slide">
        <div class="hs-lc-img-wrapper">
          <div class="img">
            {{> components/common/responsive-img
            image=stencil_image
            class="heroCarousel-image"
            fallback_size='1280w'
            lazyload='disabled'
            }}
            <!-- <img
              src="https://cdn11.bigcommerce.com/s-edruxktyvk/images/stencil/original/image-manager/home-3x.png?t=1756962655"
              alt=""
              class="hero-section-img"
            /> -->
          </div>
        </div>
        <div>
          <div class="text-below-home-hero-mobile hero-overlay-content">
            <span class="title">Congratulations Ichiro Suzuki </span>
            <span class="description">National Baseball Hall of Fame Class of 2025. Purchase "HOF '25"
              Memorabilia Today!</span>
            <a href="" class="shop-now-btn">
              <span class="shop-now-btn--text">Shop Now</span>
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="carousel-arrows-and-dots">
      <span class="icon carousel-arrow prev-arrow" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 10 15" fill="none">
          <g clip-path="url(#clip0_10_1100)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.08555 8.24063L6.97826 14.1333L8.45117 12.6604L3.29492 7.50417L8.45117 2.34792L6.97826 0.875L1.08555 6.76771C0.890265 6.96305 0.780562 7.22795 0.780562 7.50417C0.780562 7.78038 0.890265 8.04528 1.08555 8.24063Z"
              fill="#BDBDBD" />
          </g>
          <defs>
            <clipPath id="clip0_10_1100">
              <rect width="10" height="15" fill="white" transform="matrix(-1 4.37114e-08 4.37114e-08 1 10 0)" />
            </clipPath>
          </defs>
        </svg>
      </span>
      <div class="carousel-dots">
        {{#each carousel.slides}}
          <span class="carousel-dot {{#if @first}}active{{/if}}">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="47" height="7" viewBox="0 0 47 7" fill="none">
              <circle cx="23.5" cy="3.5" r="3" stroke="#0A0A1E"/>
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
              <circle cx="7.5" cy="7.5" r="3" stroke="#0A0A1E" />
            </svg>
          </span>
        {{/each}}
      </div>
      <span class="icon carousel-arrow next-arrow" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 10 15" fill="none">
          <g clip-path="url(#clip0_575_107)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.9136 8.24063L3.02089 14.1333L1.54797 12.6604L6.70422 7.50417L1.54797 2.34792L3.02089 0.875L8.9136 6.76771C9.10888 6.96305 9.21858 7.22795 9.21858 7.50417C9.21858 7.78038 9.10888 8.04528 8.9136 8.24063Z" fill="#BDBDBD"/>
          </g>
          <defs>
            <clipPath id="clip0_575_107">
              <rect width="10" height="15" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </span>
    </div>
  </div>

  {{region name='home-hero-right_container'}}
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const prevArrow = document.querySelector('.icon.carousel-arrow.prev-arrow');
    const nextArrow = document.querySelector('.icon.carousel-arrow.next-arrow');

    nextArrow.addEventListener('click', function () {
      $('.hero-carousel-slides').slick('slickNext');
    })

    prevArrow.addEventListener('click', function () {
      $('.hero-carousel-slides').slick('slickPrev');
    })

    $('.hero-carousel-slides').on('afterChange', function (event, slick, currentSlide) {
      $('.carousel-dots .carousel-dot').removeClass('active');
      $('.carousel-dots .carousel-dot').eq(currentSlide).addClass('active');
    })
  })
</script>

<script>
  $(document).ready(function () {
    $('.hero-carousel-slides').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: false,
      fade: true,
      cssEase: 'linear',
    })
  })
</script>

<style>
  /* ------------------------ LEFT SIDE ------------------------ */
  .hero-section .left-container .slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    min-height: 190px;
    object-fit: cover;
  }

  .slick-arrow {
    display: none !important;
  }

  .hero-section .left-container .text-below-home-hero-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    gap: 10px;
  }

  .hero-section .left-container .text-below-home-hero-mobile .title {
    width: 100%;
    max-width: 230px;
    height: auto;
    flex-shrink: 0;
    color: var(--Dark-Overlay, #0a0a1e);
    text-align: center;
    font-family: "Noto Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 30px */
    letter-spacing: -0.6px;
  }

  .hero-section .left-container .text-below-home-hero-mobile .description {
    width: 100%;
    max-width: 322px;
    height: auto;
    flex-shrink: 0;
    color: var(--Dark-Overlay, #0a0a1e);
    text-align: center;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.32px;
    margin: 0;
  }

  .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn {
    display: flex;
    width: 100%;
    padding: 13px 28px 14px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: var(--Mill-Creek-Blue, #21205f);

    max-width: 374px;
  }

  .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn--text {
    color: var(--White, #fff);
    text-align: center;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
    text-transform: uppercase;
  }

  .hero-section .left-container .carousel-arrows-and-dots {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px;
    gap: 25px;
  }

  .hero-section .left-container .carousel-dot.active svg {
    fill: #000;
  }

  /*------------------------ RIGHT SIDE ------------------------ */

  /* hero section right side 2 boxes top margin*/

  .hero-section [data-sub-layout="9272c60a-b858-4a62-a578-aac30ac0713c"] {
    padding: 0;
  }

  .hero-section .right-container .upper,
  .hero-section .right-container .lower {
    margin-top: 20px;
  }

  /* hero section pictures radius */
  .hero-section .right-container .upper .img .hero-section-img,
  .hero-section .right-container .lower .img .hero-section-img,
  .hero-section .left-container .img .hero-section-img {
    border-radius: 10px;
    width: 100%;
  }

  /* right side pics  */
  .hero-section .right-container .upper .img::after,
  .hero-section .right-container .lower .img::after {
    content: " ";
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.9);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  }

  .hero-section .right-container .upper,
  .hero-section .right-container .lower {
    position: relative;
  }

  /* hero section right side 2 boxes content on picture*/
  .hero-section .right-container .upper .content,
  .hero-section .right-container .lower .content {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    gap: 26px;
    align-items: center;
  }

  .right-container .lower .content {
    align-items: flex-end;
  }

  /* hero section right side 2 boxes heading*/
  .hero-section .right-container .upper .heading,
  .hero-section .right-container .lower .heading {
    color: var(--White, #fff);
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 22px */
    letter-spacing: -0.4px;
    text-transform: capitalize;
  }

  .hero-section.right-container .lower .heading {
    width: 50%;
  }

  /* hero section right side 2 boxes btn*/
  .hero-section .right-container .upper .shop-now-btn,
  .hero-section .right-container .lower .shop-now-btn {
    display: inline-flex;
    padding: 13px 28px 14px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Tan-Page-Bkg, #fbfbfb);
    text-decoration: none;
    min-width: fit-content;
    align-self: flex-end;
  }

  /* hero section right side 2 boxes btn-text*/
  .hero-section .right-container .upper .shop-now-btn--text,
  .hero-section .right-container .lower .shop-now-btn--text {
    color: var(--Mill-Creek-Blue, #21205f);
    text-align: center;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media (min-width: 769px) {
    .hero-section .left-container .carousel-arrows-and-dots {
        position: absolute;
        top: auto;
        bottom: 15px;
        left: auto;
        right: 25px;
    }
  }
</style>

<style>
  @media (min-width: 320px) and (max-width: 370px) {

    .right-container .upper .heading,
    .right-container .lower .heading {
      font-size: 14px;
    }
  }

  @media (min-width: 370px) and (max-width: 420px) {

    .right-container .upper .heading,
    .right-container .lower .heading {
      font-size: 16px;
    }
  }

  @media (min-width: 420px) and (max-width: 500px) {

    .right-container .upper .heading,
    .right-container .lower .heading {
      font-size: 20px;
    }
  }

  @media (min-width: 500px) and (max-width: 570px) {

    .right-container .upper .heading,
    .right-container .lower .heading {
      font-size: 22px;
    }
  }

  @media (min-width: 320px) and (max-width: 992px) {
    .hero-section .left-container {
      position: relative;
    }

    .hero-section .left-container .text-below-home-hero-mobile {
      z-index: 999;
    }
  }

  @media (min-width: 571px) {
    .hero-section .left-container .slick-slide img {
      max-height: 420px;
    }

    .hero-section .right-container .upper .img .hero-section-img,
    .hero-section .right-container .lower .img .hero-section-img,
    .hero-section .left-container .img .hero-section-img {
      max-height: 340px;
    }

    .right-container .upper .heading,
    .right-container .lower .heading {
      font-size: 24px;
    }
  }

  @media (min-width: 769px) {
    .hero-section {
      display: flex;
      gap: 10px;
      align-items: flex-start;
    }

    /* ------------------------ LEFT SIDE ------------------------ */

    .hero-section .left-container.slick-slider {
      min-width: unset;
    }

    .hero-section .left-container .slick-slide img {
      max-height: unset !important;
    }

    .hero-section .left-container .carousel-dot.active svg {
      fill: #fff;
    }

    .hero-section .left-container .carousel-dot svg circle {
      stroke: #fff;
    }

    .hero-section .left-container {
      flex: 0 0 63.2%;
      position: relative;
    }

    .hero-section .right-container {
      display: flex;
      flex-direction: column;
      flex: 0 0 36%;
      gap: 10px;
    }

    .hero-section .left-container .img::before {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
      content: " ";
      position: absolute;
      inset: 0;
      /* top:0; right:0; bottom:0; left:0 */
      border-radius: 10px;
      border-radius: 10px;
      opacity: 0.6;
      background: linear-gradient(259deg, rgba(12, 12, 12, 0.30) 29.07%, #0C0C0C 84.64%);
      
    }

    .hero-section .left-container .text-below-home-hero-mobile {
      position: absolute;
      bottom: 5%;
      left: 26px;
      align-items: flex-start;
      max-width: 45%;

       bottom: 8.3%;
      left: 4.5%;
    }

    .hero-section .left-container .text-below-home-hero-mobile .title {
      color: var(--White, #fff);
      font-family: "Noto Sans";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      /* 46px */
      letter-spacing: -0.92px;
      text-align: left;
      padding: 0;
      max-width: unset;
    }

    .hero-section .left-container .text-below-home-hero-mobile .description {
      color: var(--White, #fff);
      font-family: "Noto Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      /* 24px */
      letter-spacing: -0.32px;

      padding: 0;
      text-align: left;
    }

    .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn {
      border-radius: 10px;
      background: var(--Tan-Page-Bkg, #fbfbfb);

      display: inline-flex;
      padding: 13px 28px 14px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: auto;
      text-decoration: none;
    }

    .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn--text {
      color: var(--Mill-Creek-Blue, #21205f);
      text-align: center;
      font-family: "Noto Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.28px;
      text-transform: uppercase;
    }

    .hero-section .left-container .text-below-home-hero-mobile {
      gap: 14px;
    }

    /* ------------------------ RIGHT SIDE ------------------------ */

    .hero-section .right-container .upper,
    .hero-section .right-container .lower {
      margin-top: 0px;
    }

    .right-container .lower .heading {
      font-size: 16px;
    }
  }



  @media (min-width: 769px) and (max-width: 992px) {
    .hero-section .left-container .slick-slide img {
      min-height: 310px;
    }

    .hero-section .left-container .text-below-home-hero-mobile .title {
      font-size: 26px;
    }

    .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn {
      padding: 12px 26px;
    }

    .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn--text {
      font-size: 12px;
    }

    .hero-section .right-container .upper .img .hero-section-img,
    .hero-section .right-container .lower .img .hero-section-img,
    .hero-section .left-container .img .hero-section-img {
      min-height: 150px;
    }

    .hero-section .right-container .upper .content,
    .hero-section .right-container .lower .content {
      bottom: 15px;
      left: 15px;
      right: 15px;
    }

    .hero-section .right-container .upper .heading,
    .hero-section .right-container .lower .heading {
      font-size: 16px;
    }

    .hero-section .right-container .upper .shop-now-btn,
    .hero-section .right-container .lower .shop-now-btn {
      padding: 12px 26px;
    }

    .hero-section .right-container .upper .shop-now-btn--text,
    .hero-section .right-container .lower .shop-now-btn--text {
      font-size: 12px;
    }
  }
  @media (min-width: 769px) and (max-width: 840px) {

    .hero-section .right-container .upper .heading,
    .hero-section .right-container .lower .heading {
      font-size: 14px;
    }
  }
  @media (min-width: 993px) {
    .hero-section .left-container .text-below-home-hero-mobile .description {
      font-size: 14px;
    }
  }

  @media (min-width: 993px) and (max-width: 1100px) {

    .hero-section .right-container .upper .heading,
    .hero-section .right-container .lower .heading {
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    .hero-section .left-container .text-below-home-hero-mobile .title {
      font-size: 46px;
    }

    .hero-section .right-container .upper .heading,
    .hero-section .right-container .lower .heading {
      font-size: 24px;
    }

    .hero-section .left-container .text-below-home-hero-mobile .description {
      font-size: 16px;
    }
  }

  /* ------------------------ RIGHT SIDE UPPER/LOWER HEADING SIZE------------------------ */

  @media (max-width: 420px) {
    .hero-section .left-container .text-below-home-hero-mobile .title {
      font-size: 26px;
    }

    .hero-section .left-container .text-below-home-hero-mobile .description {
      font-size: 15px !important;
    }

    .hero-section .right-container .upper .content,
    .hero-section .right-container .lower .content {
      bottom: 15px;
      left: 15px;
      right: 15px;
    }

    .hero-section .right-container .upper .heading,
    .hero-section .right-container .lower .heading {
      font-size: 18px;
    }

    .hero-section .right-container .upper .shop-now-btn,
    .hero-section .right-container .lower .shop-now-btn {
      padding: 13px 26px;
    }

    .hero-section .right-container .upper .shop-now-btn--text,
    .hero-section .right-container .lower .shop-now-btn--text {
      font-size: 14px;
    }
  }

  @media (max-width: 375px) {
    .hero-section .left-container .text-below-home-hero-mobile .title {
      font-size: 24px;
    }

    .hero-section .left-container .text-below-home-hero-mobile .description {
      font-size: 14px !important;
    }

    .hero-section .left-container .text-below-home-hero-mobile .shop-now-btn--text {
      font-size: 12px;
    }

    .hero-section .right-container .upper .heading,
    .hero-section .right-container .lower .heading {
      font-size: 14px;
    }

    .hero-section .right-container .upper .shop-now-btn,
    .hero-section .right-container .lower .shop-now-btn {
      padding: 10px 20px;
    }

    .hero-section .right-container .upper .shop-now-btn--text,
    .hero-section .right-container .lower .shop-now-btn--text {
      font-size: 12px;
    }
  }
</style>