<div class="search-bar-container">
  <!-- <form class="search-form ss" action="{{urls.search}}" data-quick-search-form> -->
  <form class="search-form ss quick_search-form" data-url="/search.php" data-quick-search-form>
    <!-- <input
      class="search-input"
      id="{{name}}"
      name="{{name}}"
      data-search-quick
      data-error-message="{{lang 'search.error.empty_field'}}"
      placeholder="{{lang 'search.quick_search.input_placeholder'}}"
      autocomplete="off"
    /> -->
     <input
      class="search-input"
      id="{{name}}"
      name="search_query"
      data-search-quick
      data-error-message="{{lang 'search.error.empty_field'}}"
      placeholder="{{lang 'search.quick_search.input_placeholder'}}"
      autocomplete="off"
      type="search"
    />
    <button type="submit" class="search-button" aria-label="Search">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
      >
        <path
          d="M13.4157 12.2324L17 15.8158L15.8158 17L12.2324 13.4157C10.8991 14.4846 9.24062 15.0659 7.53175 15.0635C3.37422 15.0635 0 11.6893 0 7.53175C0 3.37422 3.37422 0 7.53175 0C11.6893 0 15.0635 3.37422 15.0635 7.53175C15.0659 9.24062 14.4846 10.8991 13.4157 12.2324ZM11.737 11.6115C12.7988 10.5191 13.3919 9.05515 13.3898 7.53175C13.3898 4.29561 10.7679 1.67372 7.53175 1.67372C4.29561 1.67372 1.67372 4.29561 1.67372 7.53175C1.67372 10.7679 4.29561 13.3898 7.53175 13.3898C9.05515 13.3919 10.5191 12.7988 11.6115 11.737L11.737 11.6115Z"
          fill="#0A0A1E"
        />
      </svg>
    </button>
  </form>

  <section class="quickSearchResults" data-bind="html: results" style="display: none;"></section>

  <p
    role="status"
    aria-live="polite"
    class="aria-description--hidden"
    data-search-aria-message-predefined-text="{{{lang 'search.results.quick_count_live'}}}"
  ></p>
</div>

<style>
  .quickSearchResults {
    margin: 0;
  }
  .search-bar-container {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    border: none;
    margin-bottom: none;
  }
  .navPages-quickSearch,
  .search-form {
    border: none !important;
    border-bottom: none !important;
  }
  .navPages-quickSearch {
    margin-bottom: 0px;
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 9999px;
    background: #eaeaf0;
    padding: 0 14px 0 27px;
  }

  .search-input {
    color: rgba(10, 10, 30, 0.90);
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 21px */
    letter-spacing: -0.28px;
    flex: 1;
    flex: 1 1 auto;
    min-width: 0;
    border: none;
    background: transparent;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
  }

  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
  }

  @media (min-width: 1350px) {
    .navPages-quickSearch {
      width: 320px;
    }
  }

  @media (min-width: 1300px) and (max-width: 1350px) {
    .navPages-quickSearch {
      width: 260px;
    }
  }
  @media (min-width: 1250px) and (max-width: 1300px) {
    .navPages-quickSearch {
      width: 250px;
    }
  }
  @media (min-width: 992px) and (max-width: 1250px) {
    .search-bar-container {
      width: 35px;
      min-width: 35px;
      max-width: 35px;
    }
    .search-input {
      display: none;
    }
    .search-form {
      background: white;
      background: none !important;
      justify-content: center;
      padding: 8px 5px;
      border-radius: 50%;
    }
    .customer-support-btn {
      padding: 8px 10px;
    }
    .search-button svg {
      width: 24px;
      height: 24px;
    }
  }
  @media (max-width: 992px) {
    .navPages-quickSearch,
    .navUser-item--customer-support {
      display: none !important;
    }
    .mobileMenu {
      display: block;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    //handle search
    const quickSearchForms = document.querySelectorAll('.quick_search-form');
    // console.log('quickSearchForms:', quickSearchForms);


    setTimeout(() => {
      quickSearchForms.forEach(form => {

        const quickSearchInput = form?.querySelector('.search-input');
        // console.log('quickSearchInput', quickSearchInput);
        form?.addEventListener('submit', (e) => {
          e.preventDefault();
          e.stopPropagation();

          console.log('search form submitted');

          if (quickSearchInput) {
            const query = quickSearchInput.value.trim();

            if (query) {
              // Redirect manually
              window.location.href = `/search.php?search_query=${encodeURIComponent(query)}`;
            }
          }
        })
      })
    }, 3000)
  })
</script>

