<div class="container stp-container-outer">
    <section class="stp-container">
        <div class="stp-header">
            <h1 class="stp-title">Shop Top Products</h1>
            <div class="stp-filters">
                <button class="stp-filter-badge stp-filter-badge-new stp-active" onclick="newProducts()">New</button>
                <button class="stp-filter-badge stp-filter-badge-featured" onclick="featuredProducts()">Featured</button>
                <button class="stp-filter-badge stp-filter-badge-best-seller" onclick="topSellers()">Best Sellers</button>
            </div>
        </div>
        <div id="New-Products-container">
        <div class="stp-products-grid new-products-grid ">
            {{#each products.new}}
            <div class="stp-product-card new-products">
                <img class="stp-product-card--img" src="{{getImage image '400x400'}}" alt="{{image.alt}}">
                <div class="stp-product-info">
                    <a class="stp-product-url" href="{{url}}">
                    <div class="stp-product-info-container">
                        <div class="stp-product-brand">{{brand.name}}</div>
                        <div class="stp-product-brand">{{name}}</div>
                        <div class="stp-product-title">{{description}}
                        </div>
                        {{#if price.sale_price_without_tax}}
                        <div class="stp-product-price stp-product-sale-price">
                        <span class="stp-original-price">{{price.non_sale_price_without_tax.formatted}}</span>
                        <span class="stp-dicount-price">{{price.sale_price_without_tax.formatted}}</span>
                        <span class="stp-sale-badge">Sale</span>
                        </div>
                        {{else}}
                         <div class="stp-product-price">{{price.without_tax.formatted}}</div>
                         {{/if}}
                    </div>
                    <a href="{{add_to_cart_url}}" style="width: 100%;">
                    <button class="stp-add-to-cart">ADD TO CART</button>
                    </a>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
         <div class="stp-slick-container stp-new-slick-container">
            <button class="fp-nav-btn fp-nav-prev" onclick="prevSTP(this)" aria-label="Previous" >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <div class="fp-progress-wrapper">
                <div class="fp-progress-bar">
                    <div class="fp-progress-fill"></div>
                </div>
            </div>
            <button class="fp-nav-btn fp-nav-next" onclick="nextSTP(this)" aria-label="Next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        </div>
        <div id="Top-Products-container">
        <div class="stp-products-grid top-seller-products-grid ">
         {{#each products.top_sellers}}
            <div class="stp-product-card top-sellers-products d-none">
                <img class="stp-product-card--img" src="{{getImage image '400x500'}}" alt="{{image.alt}}">
                <div class="stp-product-info">
                    <a class="stp-product-url" href="{{url}}">
                    <div class="stp-product-info-container">
                        <div class="stp-product-brand-name">{{brand.name}}</div>
                        <div class="stp-product-brand">{{name}}</div>
                        <div class="stp-product-title">{{description}}
                        </div>
                        {{#if price.sale_price_without_tax}}
                        <div class="stp-product-price stp-product-sale-price">
                        <span class="stp-original-price">{{price.non_sale_price_without_tax.formatted}}</span>
                        <span class="stp-dicount-price">{{price.sale_price_without_tax.formatted}}</span>
                        <span class="stp-sale-badge">Sale</span>
                        </div>
                        {{else}}
                         <div class="stp-product-price">{{price.without_tax.formatted}}</div>
                         {{/if}}
                    </div>
                    <a href="{{add_to_cart_url}}" style="width: 100%;">
                    <button class="stp-add-to-cart">ADD TO CART</button>
                    </a>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
         <div class="stp-slick-container d-none stp-top-slick-container">
            <button class="fp-nav-btn fp-nav-prev" onclick="topPrevSTP(this)" aria-label="Previous" >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <div class="fp-progress-wrapper">
                <div class="fp-progress-bar">
                    <div class="fp-progress-fill"></div>
                </div>
            </div>
            <button class="fp-nav-btn fp-nav-next" onclick="topNextSTP(this)" aria-label="Next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        </div>
        <div id="Featured-Products-container">   
        <div class="stp-products-grid featured-products-grid">
        {{#each products.featured}}
            <div class="stp-product-card featured-products d-none">
                <img class="stp-product-card--img" src="{{getImage image '400x500'}}" alt="{{image.alt}}">
                <div class="stp-product-info">
                    <a class="stp-product-url" href="{{url}}">
                    <div class="stp-product-info-container">
                        <div class="stp-product-brand-name">{{brand.name}}</div>
                        <div class="stp-product-brand">{{name}}</div>
                        <div class="stp-product-title">{{description}}
                        </div>
                       {{#if price.sale_price_without_tax}}
                        <div class="stp-product-price stp-product-sale-price">
                        <span class="stp-original-price">{{price.non_sale_price_without_tax.formatted}}</span>
                        <span class="stp-dicount-price">{{price.sale_price_without_tax.formatted}}</span>
                        <span class="stp-sale-badge">Sale</span>
                        </div>
                        {{else}}
                         <div class="stp-product-price">{{price.without_tax.formatted}}</div>
                         {{/if}}
                    </div>
                    <a href="{{add_to_cart_url}}" style="width: 100%;">
                    <button class="stp-add-to-cart">ADD TO CART</button>
                    </a>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
         <div class="stp-slick-container d-none stp-featured-slick-container">
            <button class="fp-nav-btn fp-nav-prev" onclick="featuredPrevSTP(this)" aria-label="Previous" >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <div class="fp-progress-wrapper">
                <div class="fp-progress-bar">
                    <div class="fp-progress-fill"></div>
                </div>
            </div>
            <button class="fp-nav-btn fp-nav-next" onclick="featuredNextSTP(this)" aria-label="Next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        </div>

    </section>
</div>


{{> components/home-sections/home-shop-top-products/home-shop-top-products-js}}
{{> components/home-sections/home-shop-top-products/home-shop-top-products-css}}
