<style>
    /* Progress Indicator */
    .stp-slick-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 0;
    }

    .stp-slick-container .fp-progress-wrapper {
        display: flex;
        justify-content: center;
    }

    .stp-slick-container .fp-progress-bar {
        width: 835px;
        height: 3px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1px;
        overflow: hidden;
    }
    @media (max-width:992px) {
        .stp-slick-container .fp-progress-bar{
            width: 700px;
        }
        
    }

    .stp-slick-container .fp-progress-fill {
        width: 60%;
        height: 100%;
        background: black;
        border-radius: 1px;
    }

    .stp-slick-container .fp-nav-btn {
        border: none;
        color: black;
        width: 50px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .stp-slick-container .fp-nav-btn:focus{
        outline: none !important;
        /* outline-offset: none !important; */
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .stp-product-url{
        text-decoration: none;
    }

    @media (max-width: 570px) {

        .stp-slick-container .fp-nav-btn {
            width: 40px;
            height: 40px;
        }

        .stp-slick-container .fp-nav-prev {
            left: 10px;
        }

        .stp-slick-container .fp-nav-next {
            right: 10px;
        }

        .stp-slick-container .fp-progress-bar {
            width: 250px !important;
        }

        .stp-continer {
            padding: 0px;
        }
    }

    .stp-container {
        background: white;
        position: relative;
        /* padding: 2%; */
    }

    .stp-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;
    }

    .stp-title {
        font-size: 36px;
        font-weight: bold;
        color: #21205F;
        padding-left: 20px;
    }

    .stp-filters {
        display: flex;
        gap: 0;
        border-radius: 20px;
        background-color: #F2F0EC;
    }

    .stp-filter-badge {
        padding: 12px 20px;
        border: none;
        color: #0A0A1E;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease;
        border-radius: 0;
        font-family: Arial, Helvetica, sans-serif
    }

    .stp-filter-badge:first-child {
        border-radius: 20px;
    }

    .stp-filter-badge:last-child {
        border-radius: 20px;
    }

    .stp-filter-badge:hover {
        text-decoration: underline;
    }

    .stp-filter-badge.stp-active {
        background: #0A0A1E;
        color: white;
        border-radius: 20px;

    }

    /* .stp-products-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
            margin-bottom: 30px;
        } */

    .stp-product-card {
        background: white;
        overflow: hidden;
        transition: transform 0.3s ease;
    }
    .stp-product-card:hover{
        transform: translateY(-5px);
    }

    .stp-product-image {
        width: 100%;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #999;
        object-fit: contain;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }



    .stp-img-1 {
        background-image: url("https://cdn11.bigcommerce.com/s-edruxktyvk/images/stencil/original/image-manager/gh-4-23-25-1029-72167-1.png?t=1757653386");
    }

    .stp-img-2 {
        background-image: url("https://cdn11.bigcommerce.com/s-edruxktyvk/images/stencil/original/image-manager/cst-3-15-24-1007-50085-1.png?t=1757653416");
    }

    .stp-img-3 {
        background-image: url("https://cdn11.bigcommerce.com/s-edruxktyvk/images/stencil/original/image-manager/dm-2-6-24-1000-61357-1.png?t=1757653420");
    }

    .stp-img-4 {
        background-image: url("https://cdn11.bigcommerce.com/s-edruxktyvk/images/stencil/original/image-manager/dm-4-24-25-1065-68302-1.png?t=1757653422");
    }

    .stp-img-5 {
        background-image: url("https://cdn11.bigcommerce.com/s-edruxktyvk/images/stencil/original/image-manager/dm-4-23-25-1105-31535-1.png?t=1757653425");
    }

    .stp-product-info {
        padding: 15px 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        min-height: 260px;
    }

    .stp-product-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 7%;
    }

    .stp-product-brand {
        font-size: 12px;
        color: #0A0A1E;
        margin-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    .stp-product-brand-name{
        font-size: 12px;
        color: #1f1f23;
        margin-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }

    .stp-product-title {
        font-size: 15px;
        color: #0A0A1E;
        line-height: 150%;
        margin-bottom: 8px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: -0.4px;
    }

    .stp-product-sku {
        font-size: 11px;
        color: #999;
        margin-bottom: 8px;
    }

    .stp-product-price {
        font-size: 14px;
        font-weight: bold;
        color: #0A0A1E;
        margin-bottom: 15px;
        line-height: 150%;
        letter-spacing: -0.4px;

    }

    .stp-product-sale-price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .stp-original-price {
        font-size: 14px;
        color: #961414;
    }

    .stp-dicount-price {
        font-size: 14px;
        color: #0A0A1E;
        text-decoration: line-through;
        font-weight: 500;
    }

    .stp-sale-badge {
        background: #961414;
        color: white;
        font-size: 11px;
        padding: 2px 6px;
        border-radius: 20px;
        letter-spacing: 0px;
        font-weight: 500;
    }

    .stp-add-to-cart {
        width: 100%;
        padding: 15px;
        border: 1.3px solid #21205F;
        background: white;
        color: #21205F;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .stp-add-to-cart::after {
        content: '';
        margin-left: 0;
        transition: margin-left 0.5 ease opacity 0.5 ease;
        opacity: 0;
    }

    .stp-add-to-cart:hover::after {
        content: "→";
        margin-left: 7px;
        margin-bottom: 5px;
        opacity: 1;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .stp-add-to-cart:hover {
        background: #961414;
        color: white;
        border-color: #961414;
    }
  

    @media (max-width:768px) {
        .stp-slick-container .fp-progress-bar{
            width: 600px;
        }
        
        .stp-header {
            flex-direction: column;
            margin-bottom: 32px;
        }

        .stp-title {
            padding: 12% 0 5%;
        }
    }

    @media (max-width:570px) {
        .stp-product-card {
            padding: 0 10px;
        }

        .stp-container {
            padding: 0;
        }

        .stp-container-outer.container {
            padding: 0%;
        }

    }

    @media (max-width:390px) {
        .stp-product-title {
            font-size: 13px;
        }

        .stp-product-sale-price {
            display: flex;
            align-items: center;
            gap: 3%;
            width: 100%;
        }

        .stp-product-info {
            min-height: 250px;
        }

        .stp-product-image {
            height: 190px;
        }

    }
    .d-none{
        display: none !important;
    }

    /* .stp-container .stp-products-grid .slick-list .slick-track{
        display: flex;
        gap: 13px;
    } */

    .stp-product-card .stp-product-card--img{
        padding: 37px 31px 0  31px;
    }
       @media (max-width:992px) {
         .stp-product-card .stp-product-card--img{
        padding: 37px 60px 0  60px;
    }
    }
     @media (max-width:768px) {
         .stp-product-card .stp-product-card--img{
        padding: 37px 50px 0  50px;
    }
    }
     @media (max-width:570px) {
         .stp-product-card .stp-product-card--img{
        padding: 37px 30px 0  30px;
    }
    }
</style>